@using TasksEvaluation.Core.DTOs

@{
	ViewData["Title"] = "Delete";
}
@model AssignmentDto

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<h3>Delete Assignment</h3>
<hr />

<div>
	<div>
		<strong>Title:</strong> @Model.Title
	</div>
	<div>
		<strong>Description:</strong> @Model.Description
	</div>
	<div>
		<strong>DeadLine:</strong> @Model.Deadline
	</div>
	<div>
		
	</div>
</div>


	<h3>Are you Sure to Delete @Model.Title ? </h3>
	<form asp-action="Delete">
		<div class="form-group">
			<input asp-for="Id" hidden class="form-control" />
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a class="btn btn-secondary" asp-action="GetAllAssignments">Back To List</a>
		</div>


	</form>


