@using TasksEvaluation.Core.DTOs
@model EvaluationGradeDto 
@* @{
	var solutionDto = ViewData["SolutionDto"] as SolutionDto;
} *@
@{
	ViewData["Title"] = "Create Grade";
}
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Evaluate Solution</h3>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Grade" class="control-label"></label>
				<textarea asp-for="Grade" class="form-control" rows="5"></textarea>

				<span asp-validation-for="Grade" class="text-danger"></span>
			</div>



			<div class="form-group mt-3">
				<input type="submit" value="Evaluate" class="btn btn-primary" />
				<a class="btn btn-secondary" asp-controller="Solution" asp-action="GetAllSolutions"  >Back to Assignments</a>

			</div>

		</form>
	</div>
</div>

